.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
   
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* from css */
.from .navbar-nav,.navbar .container-fluid,label,.input-group-text{
  display: block;
}
.container-fluid{
  display: block;
}
label{
  margin-bottom: 15px;
  text-align: left;
}
input{
  width: 100%;
}

/* table css */
.table th{
  background-color: #000;
  color: #fff;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table td{
  padding: 5px 10px;
}
.col-25{
  float: left;
  width: 30%;
}
.col-75{
  float: left;
  width: 70%;
}